:root {
	--num-nav-items: 4;
	--margin-side: 20vw;
	font-size: 1.2vw;
	line-height: 1.5;
	color: #222222
}

@media screen and (max-width:480px) {

	:root {
		--margin-side: 10vw;
		font-size: 3vw;
	}

	nav#header ul li a {
		width: 20vw;
		width: -moz-calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
		width: -webkit-calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
		width: calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
	}

}

h1,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0;
}

p,
ul {
	margin: 0;
	padding-bottom: 1em;
}

ul {
	padding-left: 2em;
}

a {
	text-decoration: none;
	color: #0000aa;
}

a:hover {
	color: #0088ff;
}

body {
	margin: 0;
	background-color: #fde3d3;
}

header h1,
header h4,
nav#header ul,
main,
footer h4,
footer p {
	margin-left: var(--margin-side);
	margin-right: var(--margin-side);
}

header {
	padding-top: 1em;
	padding-bottom: 4em;
	width: 100%;
	background: url(../images/header.jpg) right bottom/cover;
}

nav#header {
	background-color: #fc9d65;
}

nav#header ul {
	padding: 0;
	list-style: none;
	display: flex;
}

nav#header ul li a {
	display: block;
	width: 15vw;
	width: -moz-calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
	width: -webkit-calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
	width: calc((100vw - 2 * var(--margin-side)) / var(--num-nav-items));
	padding-top: 0.33em;
	padding-top: -moz-calc(1em / 3);
	padding-top: -webkit-calc(1em / 3);
	padding-top: calc(1em / 3);
	text-align: center;
	font-weight: bold;
	color: #444444;
}

nav#header ul li a:hover {
	color: #ffffff;
}

main {
	padding-top: 1em;
}

section {
	padding-top: 1em;
	padding-bottom: 2em;
}

footer {
	padding-top: 1em;
	padding-bottom: 3em;
	background-color: #444444;
	color: #ffffff;
}

footer a {
	color: #fc9d65;
}

footer a:hover {
	color: #fde3d3;
}

img.logo {
	width: 10vw;
}

nav#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

img.to_top {
	padding: 0.5em;
	width: 3vw;
}